body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-manrope: Manrope;
  --medium-h4: Campton;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --medium-h4-size: 12px;
  --font-size-base: 16px;

  /* Colors */
  --grayscale-white: #fff;
  --default-color-black: #000;
  --gray-color-gray-800: #212529;
  --color-gainsboro: #e2e4e3;
  --color-teal: #2a746e;
  --secondary-color-secondary-light: #eee;
  --secondary-color-secondry: #999;
  --action-color-success: #28a745;
  --action-color-warning: #ffc107;
  --secondary-color-secondary-dark: #5f5f5f;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-16xl: 35px;
  --gap-xl: 20px;
  --gap-6xs: 7px;
  --gap-21xl: 40px;
  --gap-11xl: 30px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-81xl: 100px;
  --padding-sm: 14px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-12xs: 1px;
  --padding-mini: 15px;
  --padding-11xl: 30px;
  --padding-2xs: 11px;
  --padding-smi: 13px;

  /* border radiuses */
  --br-sm: 14px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-6xl: 25px;
}
