body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --default-systemgray-03-light: #c7c7cc;
  --color-body: #6a6c71;
  --color-dimgray-100: #656565;
  --color-border: #cccdce;
  --color-primary: #2a2d34;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-smi: 13px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-sm: 14px;

  /* border radiuses */
  --br-11xl: 30px;
  --br-11xs-3: 1.3px;
  --br-10xs-7: 2.7px;
  --br-26xl: 45px;
  --br-81xl: 100px;
  --br-5xs: 8px;
}
