.frame-child,
.th-1-icon {
  position: absolute;
  left: 0;
  width: 375px;
}
.th-1-icon {
  top: 32px;
  height: 707px;
  object-fit: cover;
}
.frame-child {
  top: 29px;
  background-color: var(--color-darkslategray-100);
  height: 710px;
}
.label {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.button {
  position: absolute;
  top: 661px;
  left: 132px;
  border-radius: 10px;
  background-color: var(--color-teal);
  width: 110px;
  height: 41.15px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.path-15-icon {
  position: absolute;
  height: 1.85%;
  width: 4%;
  top: 8.37%;
  right: 4.8%;
  bottom: 89.78%;
  left: 91.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.th-2-icon {
  position: absolute;
  top: 191px;
  left: 26px;
  width: 326px;
  height: 244px;
  object-fit: cover;
}
.frame-item {
  position: absolute;
  top: 165px;
  left: 0;
  width: 42px;
  height: 40px;
}
.ellipse-icon,
.frame-child1,
.frame-inner,
.group-icon {
  position: absolute;
  top: 420px;
  left: 333px;
  width: 42px;
  height: 40px;
}
.ellipse-icon,
.frame-child1,
.group-icon {
  top: 164px;
}
.ellipse-icon,
.frame-child1 {
  top: 420px;
  left: 0;
}
.ellipse-icon {
  top: 739px;
  left: 155px;
  width: 65px;
  height: 65px;
}
.frame-child2,
.rectangle-icon {
  position: absolute;
  top: 749px;
  left: 165px;
  width: 45px;
  height: 45px;
}
.rectangle-icon {
  top: 323px;
  left: 81px;
  width: 213px;
  height: 61px;
}
.nh-chp-cha {
  margin: 0;
}
.nh-chp-cha-container {
  position: absolute;
  top: 329px;
  left: 90px;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: #fbbc05;
  display: inline-block;
  width: 193px;
  height: 48px;
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.border,
.cap-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 100%;
  width: 90.43%;
  top: 0;
  right: 9.57%;
  bottom: 0;
  left: 0;
  border-radius: 2.67px;
  border: 1px solid var(--label-color-dark-primary);
  box-sizing: border-box;
  opacity: 0.35;
}
.cap-icon {
  height: 35.29%;
  width: 5.46%;
  top: 32.35%;
  right: 0;
  bottom: 32.35%;
  left: 94.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  height: 64.71%;
  width: 73.99%;
  top: 17.65%;
  right: 17.79%;
  bottom: 17.65%;
  left: 8.22%;
  border-radius: 1.33px;
  background-color: var(--label-color-dark-primary);
}
.battery {
  position: absolute;
  height: 25.76%;
  width: 6.49%;
  top: 39.39%;
  right: 3.91%;
  bottom: 34.85%;
  left: 89.6%;
}
.wifi-icon {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 39.39%;
  right: 13%;
}
.cellular-connection-icon {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 39.39%;
  right: 20%;
}
.span {
  letter-spacing: -0.28px;
}
.time {
  position: absolute;
  width: 100%;
  top: calc(50% - 7.5px);
  left: 0;
  font-weight: 900;
  display: inline-block;
}
.time-style {
  position: absolute;
  top: 13px;
  left: 21px;
  width: 54px;
  height: 21px;
}
.iphone-xstatus-barsstatus-ba {
  position: absolute;
  height: 5.42%;
  width: 100%;
  top: -0.74%;
  right: 2.13%;
  bottom: 95.32%;
  left: -2.13%;
  font-size: var(--font-size-sm);
}
.frame {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--label-color-light-primary);
  width: 375px;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--label-color-dark-primary);
  font-family: var(--font-poppins);
}
