.my-carbon-footprint {
  position: absolute;
  top: 13px;
  left: 97.5px;
  line-height: 100%;
  font-weight: 500;
}
.frame-child,
.my-carbon-footprint-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
}
.my-carbon-footprint-parent {
  top: 44px;
  width: 375px;
  display: none;
  font-size: var(--tremor-title-size);
}
.home-indicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
  width: 134px;
  height: 5px;
}
.homeindicator,
.my-profile-child {
  position: absolute;
  top: 778px;
  left: 0;
  width: 375px;
  height: 34px;
}
.my-profile-child {
  top: 202.2px;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  background-color: var(--color-white);
  height: 609.8px;
}
.duy {
  position: absolute;
  top: 281px;
  left: 143px;
  font-size: var(--font-size-11xl);
  line-height: 100%;
  font-weight: 600;
}
.cp-nht-thng,
.profile-circle-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.cp-nht-thng {
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  width: 272px;
  height: 18px;
  flex-shrink: 0;
}
.arrow-right-s-line-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.profile-circle-parent {
  border-bottom: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 345px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.i-mt-khu {
  position: relative;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  width: 270px;
  flex-shrink: 0;
}
.sms-notification-parent {
  align-self: stretch;
  border-bottom: 1px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent,
.my-profile-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
}
.my-profile-inner {
  position: absolute;
  top: 330px;
  left: 0;
  width: 375px;
  height: 235px;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-gray-100);
}
.label {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.button {
  position: absolute;
  top: 608px;
  left: 17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-goldenrod);
  width: 343px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-mid);
  color: var(--label-color-light-primary);
}
.xa-ti-khon {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.xa-ti-khon-wrapper {
  position: absolute;
  top: 653px;
  left: 16px;
  width: 343px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--red-500);
}
.title-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-teal);
  width: 375px;
  height: 72px;
}
.title-item {
  height: 65.59%;
  width: 13.6%;
  top: 34.41%;
  right: 83.25%;
  bottom: 0;
  left: 3.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.title,
.title-item,
.title1 {
  position: absolute;
}
.title1 {
  top: 42px;
  left: 113px;
  display: inline-block;
  width: 139px;
}
.title {
  top: 7px;
  left: 0;
  width: 375px;
  height: 87.18px;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
}
.my-profile-item,
.navigation-icon {
  position: absolute;
  top: 712px;
  left: 10px;
  width: 358px;
  height: 83px;
}
.my-profile-item {
  top: 101.54px;
  left: 96.53px;
  width: 155.01px;
  height: 155.01px;
  object-fit: cover;
}
.iocamera-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.iocamera-wrapper {
  position: absolute;
  top: 214px;
  left: 213px;
  border-radius: 88px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.border,
.cap-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 100%;
  width: 90.43%;
  top: 0;
  right: 9.57%;
  bottom: 0;
  left: 0;
  border-radius: 2.67px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  opacity: 0.35;
}
.cap-icon {
  height: 35.29%;
  width: 5.46%;
  top: 32.35%;
  right: 0;
  bottom: 32.35%;
  left: 94.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  height: 64.71%;
  width: 73.99%;
  top: 17.65%;
  right: 17.79%;
  bottom: 17.65%;
  left: 8.22%;
  border-radius: 1.33px;
  background-color: var(--color-white);
}
.battery {
  position: absolute;
  height: 25.76%;
  width: 6.49%;
  top: 39.39%;
  right: 3.91%;
  bottom: 34.85%;
  left: 89.6%;
}
.wifi-icon {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 39.39%;
  right: 13%;
}
.cellular-connection-icon {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 39.39%;
  right: 20%;
}
.span {
  letter-spacing: -0.28px;
}
.time {
  position: absolute;
  width: 100%;
  top: calc(50% - 7.5px);
  left: 0;
  font-weight: 900;
  display: inline-block;
}
.time-style {
  position: absolute;
  top: 13px;
  left: 21px;
  width: 54px;
  height: 21px;
}
.iphone-xstatus-barsstatus-ba {
  position: absolute;
  height: 5.42%;
  width: 100%;
  top: 0;
  right: 1.33%;
  bottom: 94.58%;
  left: -1.33%;
  border-radius: var(--br-11xl);
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.my-profile {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-teal);
  width: 375px;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-text);
  font-family: var(--font-poppins);
}
